.HeaderSpot {
  margin: 50px;
  background-color: black;
  border-color: black;
  border: solid;
}

.entireThing {
  margin: 50px;
  background-color: black;
  text-align: center;
}

button:focus {
  outline: none;
}

#squareGreen {
  background-color: green;
  color: black;

  border: none;

  font-weight: bold;

  height: 18px;

  text-align: center;
  width: 75px;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.b1 {
  border: none;
  background-color: black;
  color: black;
  padding: 0;

  height: 38px;
  margin: -4px;
  text-align: center;
  width: 38px;
}

.bplus {
  border: none;
  background-color: white;
  color: black;
  padding: 0;
  height: 38px;
  margin: -4px;
  text-align: center;
  width: 38px;
}

.green {
  border: none;
  background-color: lightgreen;
  color: white;
  padding: 0;
  font-size: 5px;
  margin: -4px;
  height: 38px;
  text-align: center;
  width: 38px;
}

#largebutton {
  height: 35px;
  width: 150px;
  font-size: 20px;
  font-weight: bold;
  margin: 15px;
  padding: 5;
  background-color: rgb(0, 255, 255);
}

.largebutton {
  height: 90px;
  width: 250px;
  font-size: 50px;
  font-weight: bold;
  background-color: rgb(0, 255, 255);
}

.orange {
  border: none;
  background-color: rgb(255, 0, 200);
  color: white;
  padding: 0;
  font-size: 5px;
  margin: -4px;
  height: 38px;
  text-align: center;
  width: 38px;
}

.orange2 {
  border: none;
  background-color: rgb(234, 0, 255);
  color: white;
  padding: 0;
  font-size: 5px;
  margin: -4px;
  height: 38px;
  text-align: center;
  width: 38px;
}

.orange2 {
  border: none;
  background-color: rgb(162, 0, 255);
  color: white;
  padding: 0;
  font-size: 5px;
  margin: -4px;
  height: 38px;
  text-align: center;
  width: 38px;
}

.orange3 {
  border: none;
  background-color: rgb(0, 17, 255);
  color: white;
  padding: 0;
  font-size: 5px;
  margin: -4px;
  height: 38px;
  text-align: center;
  width: 38px;
}

.orange4 {
  border: none;
  background-color: rgb(0, 217, 255);
  color: white;
  padding: 0;
  font-size: 5px;
  margin: -4px;
  height: 38px;
  text-align: center;
  width: 38px;
}

.orange5 {
  border: none;
  background-color: rgb(72, 255, 0);
  color: white;
  padding: 0;
  font-size: 5px;
  margin: -4px;
  height: 38px;
  text-align: center;
  width: 38px;
}

.orange6 {
  border: none;
  background-color: rgb(251, 255, 0);
  color: white;
  padding: 0;
  font-size: 5px;
  margin: -4px;
  height: 38px;
  text-align: center;
  width: 38px;
}

.orange7 {
  border: none;
  background-color: rgb(255, 124, 2);
  color: white;
  padding: 0;
  font-size: 5px;
  margin: -4px;
  height: 38px;
  text-align: center;
  width: 38px;
}

.orange8 {
  border: none;
  background-color: rgb(255, 0, 0);
  color: white;
  padding: 0;
  font-size: 5px;
  margin: -4px;
  height: 38px;
  text-align: center;
  width: 38px;
}

.lightorange {
  border: none;
  background-color: rgb(250, 218, 158);
  color: white;
  padding: 0;
  font-size: 5px;
  margin: -4px;
  height: 38px;
  text-align: center;
  width: 38px;
}

.blue {
  border: none;
  background-color: blue;
  color: white;
  padding: 0;
  font-size: 5px;
  margin: -4px;
  height: 38px;
  text-align: center;
  width: 38px;
}

.slider {
  text-align: center;
  margin: 20px;
  align-content: center;
}

.icon {
  border: none;
  background-color: rgb(0, 225, 255);
  color: white;
  padding: 0;
  font-size: 5px;
  margin: -4px;
  height: 38px;
  text-align: center;
  width: 38px;
}

.bgrey {
  border: none;
  background-color: rgb(107, 105, 107);
  color: white;
  padding: 0;
  font-size: 5px;
  margin: -4px;
  height: 38px;
  text-align: center;
  width: 38px;
}

.bdirection {
  border: none;
  background-color: rgb(0, 255, 21);
  color: white;
  padding: 0;
  font-size: 5px;
  margin: -4px;
  height: 38px;
  text-align: center;
  width: 38px;
}

.directionLand {
  margin: 40px;
}

#explanation {
  font-size: 40px;
  text-align: center;
  border-radius: 35px;
  border: solid;
  border-width: 10px;
  color: white;
  background-color: rgb(107, 105, 107);
  height: 1000px;
  width: 2000px;
  margin: auto;
  align-items: center;
}

#divinside {
  margin: 50%;
}

#spinningadventure {
  height: 25px;
  width: 25px;

  text-align: left;
  align-items: left;
}
#spinwrap {
  height: 25px;
  width: 25px;
  position: fixed;
  right: 800;
  text-align: left;
  align-items: left;
}
#loading {
  color: rgb(72, 255, 0);
  font-size: 25px;
  text-align: center;
}
#scoreDisplay {
  color: rgb(251, 255, 0);
  font-size: 25px;
  text-align: left;
}

#endDisplay {
  color: rgb(251, 255, 0);
  font-size: 25px;
  text-align: left;
}

@media only screen and (max-width: 700px) {
  .HeaderSpot {
    margin: 4px;
    background-color: black;
    border-color: black;
    border: solid;
  }

  .entireThing {
    margin: 0px;
    background-color: black;
    text-align: center;
    width: 100%;
    height: 100%;
  }

  button:focus {
    outline: none;
  }

  #squareGreen {
    background-color: green;
    color: black;

    border: none;

    font-weight: bold;

    height: 18px;

    text-align: center;
    width: 75px;
  }

  .App {
    text-align: center;
  }

  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }

  .App-link {
    color: #61dafb;
  }

  .b1 {
    border: none;
    background-color: black;
    color: black;
    padding: 0;

    height: 20px;
    margin: -2px;
    text-align: center;
    width: 20px;
  }

  .bplus {
    border: none;
    background-color: white;
    color: black;
    padding: 0;
    height: 20px;
    margin: -2px;
    text-align: center;
    width: 20px;
  }

  .green {
    border: none;
    background-color: lightgreen;
    color: white;
    padding: 0;
    font-size: 5px;
    margin: -2px;
    height: 20px;
    text-align: center;
    width: 20px;
  }

  #largebutton {
    height: 25px;
    width: 200px;
    font-size: 15px;
    font-weight: bold;
    margin: 5px;
    padding: 5;
    background-color: rgb(0, 255, 255);
  }

  .largebutton {
    height: 25px;
    width: 200px;
    font-size: 15px;
    font-weight: bold;
    margin: 5px;
    padding: 5;
    background-color: rgb(0, 255, 255);
  }

  .regbutton {
    height: 25px;
    width: 15px;
    font-size: 15px;
    font-weight: bold;
    margin: 5px;
    padding: 5;
    background-color: rgb(0, 255, 255);
  }

  .orange {
    border: none;
    background-color: rgb(255, 0, 200);
    color: white;
    padding: 0;
    font-size: 5px;
    margin: -2px;
    height: 20px;
    text-align: center;
    width: 20px;
  }

  .orange2 {
    border: none;
    background-color: rgb(234, 0, 255);
    color: white;
    padding: 0;
    font-size: 5px;
    margin: -2px;
    height: 20px;
    text-align: center;
    width: 20px;
  }

  .orange2 {
    border: none;
    background-color: rgb(162, 0, 255);
    color: white;
    padding: 0;
    font-size: 5px;
    margin: -2px;
    height: 20px;
    text-align: center;
    width: 20px;
  }

  .orange3 {
    border: none;
    background-color: rgb(0, 17, 255);
    color: white;
    padding: 0;
    font-size: 5px;
    margin: -2px;
    height: 20px;
    text-align: center;
    width: 20px;
  }

  .orange4 {
    border: none;
    background-color: rgb(0, 217, 255);
    color: white;
    padding: 0;
    font-size: 5px;
    margin: -2px;
    height: 20px;
    text-align: center;
    width: 20px;
  }

  .orange5 {
    border: none;
    background-color: rgb(72, 255, 0);
    color: white;
    padding: 0;
    font-size: 5px;
    margin: -2px;
    height: 20px;
    text-align: center;
    width: 20px;
  }

  .orange6 {
    border: none;
    background-color: rgb(251, 255, 0);
    color: white;
    padding: 0;
    font-size: 5px;
    margin: -2px;
    height: 20px;
    text-align: center;
    width: 20px;
  }

  .orange7 {
    border: none;
    background-color: rgb(255, 124, 2);
    color: white;
    padding: 0;
    font-size: 5px;
    margin: -2px;
    height: 20px;
    text-align: center;
    width: 20px;
  }

  .orange8 {
    border: none;
    background-color: rgb(255, 0, 0);
    color: white;
    padding: 0;
    font-size: 5px;
    margin: -2px;
    height: 20px;
    text-align: center;
    width: 20px;
  }

  .lightorange {
    border: none;
    background-color: rgb(250, 218, 158);
    color: white;
    padding: 0;
    font-size: 5px;
    margin: -2px;
    height: 20px;
    text-align: center;
    width: 20px;
  }

  .blue {
    border: none;
    background-color: blue;
    color: white;
    padding: 0;
    font-size: 5px;
    margin: -2px;
    height: 20px;
    text-align: center;
    width: 20px;
  }

  .slider {
    text-align: center;
    margin: 20px;
    align-content: center;
  }

  .icon {
    border: none;
    background-color: rgb(0, 225, 255);
    color: white;
    padding: 0;
    font-size: 5px;
    margin: -2px;
    height: 20px;
    text-align: center;
    width: 20px;
  }

  .bgrey {
    border: none;
    background-color: rgba(107, 105, 107, 0);
    color: white;
    padding: 0;
    font-size: 5px;
    margin: -2px;
    height: 50px;
    text-align: center;
    width: 50px;
  }

  .bdirection {
    border: none;
    background-color: rgba(0, 255, 21, 0.397);
    color: white;
    padding: 0;
    font-size: 5px;
    margin: -2px;
    height: 50px;
    text-align: center;
    width: 50px;
    z-index: 1;
  }

  .directionLand {
    position: fixed;
  }

  #explanation {
    font-size: 12px;
    text-align: center;
    border-radius: 35px;
    border: solid;
    border-width: 4px;
    color: white;
    background-color: rgb(107, 105, 107);
    height: 90%;
    width: 100%;
    margin: auto;
    align-items: center;
  }

  #divinside {
    margin: 50%;
  }
  img {
    height: 100%;
    width: 100%;
  }

  o {
    max-height: 10px !important;
    max-width: 10px !important;
    min-height: 8px !important;
    min-width: 8px !important;
  }

  span {
    max-height: 10px !important;
    max-width: 10px !important;
    min-height: 8px !important;
    min-width: 8px !important;
  }

  #spinningadventure {
    height: 25px;
    width: 25px;

    text-align: left;
    align-items: left;
  }
  #spinwrap {
    height: 25px;
    width: 25px;
    position: fixed;
    right: 800;
    text-align: left;
    align-items: left;
  }
  #loading {
    color: rgb(72, 255, 0);
    font-size: 12px;
    text-align: center;
  }
  #scoreDisplay {
    color: rgb(251, 255, 0);
    font-size: 12px;
    text-align: left;
  }

  #endDisplay {
    color: rgb(251, 255, 0);
    font-size: 12px;
    text-align: left;
  }
}
