.HeaderSpot {
  margin: 50px;
  background-color: black;
  border-color: black;
  border: solid;
}

.entireThing {
  margin: 50px;
  background-color: black;
  text-align: center;
}

button:focus {
  outline: none;
}

#squareGreen {
  background-color: green;
  color: black;

  border: none;

  font-weight: bold;

  height: 18px;

  text-align: center;
  width: 75px;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.b1 {
  border: none;
  background-color: black;
  color: black;
  padding: 0;

  height: 75px;
  margin: -4px;
  text-align: center;
  width: 75px;
}

.bplus {
  border: none;
  background-color: white;
  color: black;
  padding: 0;
  height: 75px;
  margin: -4px;
  text-align: center;
  width: 75px;
}

.green {
  border: none;
  background-color: lightgreen;
  color: white;
  padding: 0;
  font-size: 5px;
  margin: -4px;
  height: 75px;
  text-align: center;
  width: 75px;
}

#largebutton {
  height: 70px;
  width: 250px;
  font-size: 35px;
  font-weight: bold;
  margin: 75px;
  padding: 10;
  background-color: rgb(0, 255, 255);
}

.largebutton {
  height: 90px;
  width: 250px;
  font-size: 50px;
  font-weight: bold;
  background-color: rgb(0, 255, 255);
}

.orange {
  border: none;
  background-color: rgb(255, 0, 200);
  color: white;
  padding: 0;
  font-size: 5px;
  margin: -4px;
  height: 75px;
  text-align: center;
  width: 75px;
}

.orange2 {
  border: none;
  background-color: rgb(234, 0, 255);
  color: white;
  padding: 0;
  font-size: 5px;
  margin: -4px;
  height: 75px;
  text-align: center;
  width: 75px;
}

.orange2 {
  border: none;
  background-color: rgb(162, 0, 255);
  color: white;
  padding: 0;
  font-size: 5px;
  margin: -4px;
  height: 75px;
  text-align: center;
  width: 75px;
}

.orange3 {
  border: none;
  background-color: rgb(0, 17, 255);
  color: white;
  padding: 0;
  font-size: 5px;
  margin: -4px;
  height: 75px;
  text-align: center;
  width: 75px;
}

.orange4 {
  border: none;
  background-color: rgb(0, 217, 255);
  color: white;
  padding: 0;
  font-size: 5px;
  margin: -4px;
  height: 75px;
  text-align: center;
  width: 75px;
}

.orange5 {
  border: none;
  background-color: rgb(72, 255, 0);
  color: white;
  padding: 0;
  font-size: 5px;
  margin: -4px;
  height: 75px;
  text-align: center;
  width: 75px;
}

.orange6 {
  border: none;
  background-color: rgb(251, 255, 0);
  color: white;
  padding: 0;
  font-size: 5px;
  margin: -4px;
  height: 75px;
  text-align: center;
  width: 75px;
}

.orange7 {
  border: none;
  background-color: rgb(255, 124, 2);
  color: white;
  padding: 0;
  font-size: 5px;
  margin: -4px;
  height: 75px;
  text-align: center;
  width: 75px;
}

.orange8 {
  border: none;
  background-color: rgb(255, 0, 0);
  color: white;
  padding: 0;
  font-size: 5px;
  margin: -4px;
  height: 75px;
  text-align: center;
  width: 75px;
}

.lightorange {
  border: none;
  background-color: rgb(250, 218, 158);
  color: white;
  padding: 0;
  font-size: 5px;
  margin: -4px;
  height: 75px;
  text-align: center;
  width: 75px;
}

.blue {
  border: none;
  background-color: blue;
  color: white;
  padding: 0;
  font-size: 5px;
  margin: -4px;
  height: 75px;
  text-align: center;
  width: 75px;
}

.slider {
  text-align: center;
  margin: 20px;
  align-content: center;
}

.icon {
  border: none;
  background-color: rgb(0, 225, 255);
  color: white;
  padding: 0;
  font-size: 5px;
  margin: -4px;
  height: 75px;
  text-align: center;
  width: 75px;
}
